@media only screen and (max-width: 1100px) {
    #portfolio .table {
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
        row-gap: 2rem;
    }

    #portfolio .table .table-l {
        width: 100%;
    }

    #portfolio .table .table-r {
        width: 90%;
        padding: 2rem 0;
    }
    #portfolio .table .table-r h3 {
        font-size: 2.25rem;
    }

    #portfolio .table .table-r .button-container a {
        display: block;
    }

    #portfolio .table .table-l .carousel .card.a {
        margin-left: 24vw;
    }

    #portfolio .table .table-l .carousel .card.c {
        margin-right: 24vw;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        position: absolute;
        justify-content: center;
        backdrop-filter: none;
    }

    nav .nav-l ul .logo a {
        margin-right: 0;
    }

    nav .nav-l ul .nav-links {
        display: none;
    }

    nav .nav-r {
        display: none;
    }

    /*----------------------------------------------------*/

    #home .title {
        padding-bottom: 20rem;
    }

    #home .title h1 {
        font-size: 2.8rem;
    }

    #home .title .title-top {
        font-size: 5rem;
    }

    #home .title .title-bottom {
        margin-top: 10px;
    }

    #home .title .underline {
        width: 330px;
        top: 16.3rem;
    }

    #home .title p {
        font-size: 0.9rem;
    }

    /*----------------------------------------------------*/

    #portfolio .blur-circle {
        display: none;
    }

    #portfolio .title {
        margin-top: 0;
    }

    #portfolio .title h2 {
        font-size: 3rem;
    }

    #portfolio .table .table-r h3 {
        font-size: 2rem;
    }

    #portfolio .table .table-r br {
        display: none;
    }

    #portfolio .table .table-r p {
        font-size: 0.9rem;
    }

    #portfolio .table .table-r .button-container a {
        font-size: 14px;
    }

    #portfolio .table .table-l .nav-buttons {
        column-gap: 3rem;
    }

    #portfolio .table .table-l .nav-buttons .button {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 540px) {
    #portfolio .table .table-l .nav-buttons {
        column-gap: 2rem;
        margin-bottom: 1.5rem;
    }

    #portfolio .table .table-l .nav-buttons .button {
        font-weight: 400;
        border-bottom: 1.5px solid black;
    }

    #portfolio .table .table-l .nav-buttons .button-focus {
        border-bottom: 1.5px solid #fae575;
    }

    #portfolio .table .table-l .carousel {
        gap: 2rem;
    }

    #portfolio .table .table-l .carousel .card {
        /*width: 80vw;*/
        width: 19rem;
        height: 30rem
    }

    #portfolio .table .table-l .carousel .card svg {
        left: 15.5px;
    }
}

@media only screen and (min-width: 1100px) {
    nav .nav-l ul .nav-links a:hover {
        color: #fae575;
    }

    nav .nav-r a:hover {
        font-size: 16.9px;
        padding: 0.82rem 1.55rem;
    }

    /*----------------------------------------------------*/

    #portfolio .table .table-r .button-container a:hover {
        font-size: 16.9px;
        padding: 0.82rem 1.55rem;
    }
}
