@media only screen and (max-width: 1100px) {
    nav .nav-l ul .logo a {
        margin-right: 1rem;
    }

    /*----------------------------------------------------*/

    #portfolio .table {
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
        row-gap: 2rem;
    }

    #portfolio .table .table-l {
        width: 100%;
    }

    #portfolio .table .table-l .scroll-container .fade-overlay {
        display: none;
    }

    #portfolio .table .table-l .scroll-container .card-container .card.a {
        margin-left: 32vw;
    }

    #portfolio .table .table-l .scroll-container .card-container .card.c {
        margin-right: 32vw;
    }

    #portfolio .table .table-r {
        width: 90%;
        padding: 2rem 0;
    }

    #portfolio .table .table-r h3 {
        font-size: 2.25rem;
    }

    /*----------------------------------------------------*/

    #contact .table {
        width: 100%;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
    }

    #contact .table .table-l {
        width: 90%;
        padding: 2rem 0;
    }

    #contact .table .table-l h3 {
        font-size: 2.25rem;
    }

    #contact .table .table-r {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        position: absolute;
        justify-content: center;
        backdrop-filter: none;
    }

    nav .nav-l ul .logo a {
        margin-right: 0;
    }

    nav .nav-l ul .nav-links {
        display: none;
    }

    nav .nav-r {
        display: none;
    }

    /*----------------------------------------------------*/

    #home .title {
        padding-bottom: 20rem;
    }

    #home .title h1 {
        font-size: 2.8rem;
    }

    #home .title .title-top {
        font-size: 5rem;
    }

    #home .title .title-bottom {
        margin-top: 10px;
    }

    #home .title svg {
        width: 330px;
        top: 16.3rem;
    }

    #home .title p {
        font-size: 0.9rem;
    }

    /*----------------------------------------------------*/

    #portfolio {
        margin-bottom: 3rem;
    }

    #portfolio .blur-circle {
        display: none;
    }

    #portfolio .title {
        margin-top: 0;
    }

    #portfolio .title h2 {
        font-size: 3rem;
    }

    #portfolio .table .table-l .nav-buttons {
        column-gap: 3.5rem;
    }

    #portfolio .table .table-l .nav-buttons .button {
        font-size: 1rem;
    }

    #portfolio .table .table-r h3 {
        font-size: 2rem;
    }

    #portfolio .table .table-r br {
        display: none;
    }

    #portfolio .table .table-r p {
        font-size: 0.9rem;
    }

    #portfolio .table .table-r .button-container a {
        font-size: 14px;
    }

    /*----------------------------------------------------*/

    #contact .blur-circle {
        display: none;
    }

    #contact .title {
        margin-top: 0;
    }

    #contact .title h2 {
        font-size: 3rem;
    }

    #contact .table .table-l h3 {
        font-size: 2rem;
    }

    #contact .table .table-l br {
        display: none;
    }

    #contact .table .table-l p {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 540px) {
    #portfolio .table .table-l .nav-buttons {
        column-gap: 2.5rem;
        margin-bottom: 1.5rem;
    }

    #portfolio .table .table-l .nav-buttons .button {
        font-weight: 400;
        padding: 0.25rem 0;
        border-bottom: 1.2px solid black;
    }

    #portfolio .table .table-l .nav-buttons .button-focus {
        border-bottom: 1.2px solid #fae575;
    }

    #portfolio .table .table-l .scroll-container .card-container {
        gap: 2rem;
    }

    #portfolio .table .table-l .scroll-container .card-container .card {
        width: 19rem;
        height: 30rem;
        padding-left: 1.5rem;
    }

    #portfolio .table .table-l .scroll-container .card-container .card.a {
        margin-left: 24vw;
    }

    #portfolio .table .table-l .scroll-container .card-container .card.c {
        margin-right: 24vw;
    }

    #portfolio .table .table-l .scroll-container .card-container .card img {
        left: 15.8px;
    }

    #portfolio .table .table-l .scroll-container .card-container .card .content .heading{
        font-size: 1rem;
        margin-top: 1.75rem;
        margin-bottom: 0.25rem;
    }

    #portfolio .table .table-l .scroll-container .card-container .card .content .sub-heading{
        font-size: 0.9rem;
        margin-bottom: 0.35rem;
        margin-left: 1.5rem;
    }

    #portfolio .table .table-l .scroll-container .card-container .card .content .text{
        font-size: 0.75rem;
        margin-top: 0.25rem;
        margin-left: 2.75rem;
    }

    #portfolio .table .table-r br {
        display: inline;
    }

    /*----------------------------------------------------*/

    #contact .table .table-l br {
        display: inline;
    }
}

@media only screen and (min-width: 1100px) {
    nav .nav-l ul .nav-links a:hover {
        color: #fae575;
    }

    nav .nav-r a:hover {
        font-size: 16.9px;
        padding: 0.82rem 1.55rem;
    }

    /*----------------------------------------------------*/

    #portfolio .table .table-r .button-container a:hover {
        font-size: 16.9px;
        padding: 0.82rem 1.55rem;
    }
}
