/*
    Author: Nitin Soni
    Website: nitinsooni.github.io
    © Nitin Soni. All rights reserved.
    This code is proprietary and confidential. Any unauthorized use or distribution is strictly prohibited.
*/
@media only screen and (max-width: 68.75em) {
    nav .nav-l .logo {
        margin-right: 1rem;
    }

    #portfolio .table {
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
        row-gap: 2rem;
    }

    #portfolio .table .table-l {
        width: 100%;
    }

    #portfolio .table .table-l .scroll-container .fade-overlay {
        display: none;
    }

    #portfolio .table .table-l .scroll-container .card-container .card.a {
        margin-left: 32vw;
    }

    #portfolio .table .table-l .scroll-container .card-container .card.c {
        margin-right: 32vw;
    }

    #portfolio .table .table-r {
        width: 90%;
        padding: 2rem 0;
    }

    #portfolio .table .table-r h3 {
        font-size: 2.25rem;
    }

    #contact .t-container {
        padding-top: 0;
    }

    #contact .table {
        width: 100%;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
    }

    #contact .table .table-l {
        width: 90%;
        padding: 2rem 0;
    }

    #contact .table .table-l h3 {
        font-size: 2.25rem;
    }

    #contact .table .table-r {
        width: 100%;
    }

    #gallery .title {
        padding-top: 10rem;
        padding-bottom: 7rem;
    }

    #gallery .headline {
        padding-bottom: 2.5rem;
    }

    #gallery .grid {
        padding-bottom: 3.1rem;
    }

    #gallery .grid .container {
        width: calc(50% - 2rem);
    }

    #resource_hub .title {
        padding-top: 10rem;
        padding-bottom: 7rem;
    }

    #resource_hub .headline {
        padding-bottom: 2.5rem;
    }

    #resource_hub .grid {
        padding-bottom: 3.1rem;
    }

    #resource_hub .grid .container {
        width: calc(50% - 2rem);
    }

    footer .container {
        flex-direction: column;
        row-gap: 4rem;
        width: 92%;
    }

    footer .container .wrapper-l {
        width: 100%;
    }

    footer .container .wrapper-r {
        width: 100%;
    }
}

@media only screen and (max-width: 50em) {
    .button {
        font-size: 0.875rem;
    }

    .gradient-ruler.active {
        animation-duration: 1s;
    }

    @keyframes jump {
        0%,
        40%,
        100% {
            transform: translateY(-0.625rem);
        }
        20% {
            transform: translateY(-1.25rem);
        }
    }

    nav {
        position: absolute;
        justify-content: center;
        backdrop-filter: none;
    }

    nav .nav-l .logo {
        font-weight: 400;
        margin-right: 0;
    }

    nav .nav-l .logo a .s_alph {
        width: 1rem;
    }

    nav .nav-l ul .nav-link {
        display: none;
    }

    nav .nav-l .hamburger {
        display: block;
    }

    nav .nav-r {
        display: none;
    }

    .scroll-to-top {
        bottom: 1.75rem;
        right: 1.75rem;
        padding: 0.65rem 0.8rem;
    }

    #home .title {
        padding-top: 10.4rem;
    }

    #home .title .title-top {
        font-size: 5.2rem;
    }

    #home .title svg {
        width: min(100%, 21.25rem);
        top: 12rem;
    }

    #home .title .title-bottom {
        font-size: 2.9rem;
        font-weight: 500;
        margin-top: 10px;
    }

    #home .title p {
        font-size: 0.9rem;
    }

    #home .contact-box {
        padding-top: 11rem;
        padding-bottom: 14rem;
    }

    #home .contact-box .contact-bar {
        flex-direction: row;
        width: 19rem;
    }

    #home .contact-box .contact-bar .text-field {
        font-size: 0.9rem;
        padding-right: 0.9rem;
    }

    #home .contact-box .contact-bar .submit {
        margin-top: 1rem;
        position: static;
        width: 100%;
    }

    #portfolio .blur-circle {
        display: none;
    }

    #portfolio .title {
        padding-top: 1rem;
    }

    #portfolio .title h2 {
        font-size: 3rem;
    }

    #portfolio .table .table-l .nav-button-container {
        column-gap: 3.5rem;
    }

    #portfolio .table .table-l .nav-button-container .nav-button {
        font-size: 1rem;
    }

    #portfolio .table .table-r img {
        height: 3.4rem;
        margin-bottom: 0.8rem;
        margin-left: 0.2rem;
    }

    #portfolio .table .table-r h3 {
        font-size: 2rem;
    }

    #portfolio .table .table-r br {
        display: none;
    }

    #portfolio .table .table-r p {
        font-size: 0.9rem;
    }

    #portfolio .table .table-r .button-container {
        margin: 1.8rem 0 0 1.8rem;
    }

    #contact .blur-circle {
        display: none;
    }

    #contact .title {
        padding-top: 3rem;
    }

    #contact .title h2 {
        font-size: 3rem;
    }

    #contact .table .table-l img {
        height: 3.4rem;
        margin-bottom: 0.8rem;
        margin-left: 0.2rem;
    }

    #contact .table .table-l h3 {
        font-size: 2rem;
    }

    #contact .table .table-l br {
        display: none;
    }

    #contact .table .table-l p {
        font-size: 0.9rem;
    }

    #contact .table .table-l .button-container {
        margin: 1.8rem 0 0 1.8rem;
    }

    #contact .table .table-r .container {
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
    }

    #gallery .title {
        padding-bottom: 5rem;
    }

    #gallery .title h1 {
        font-size: 4rem;
    }

    #gallery .headline p {
        font-size: 1rem;
    }

    #gallery .grid .container .media-title {
        font-size: 1rem;
    }

    #resource_hub .title {
        padding-bottom: 5rem;
    }

    #resource_hub .title h1 {
        font-size: 4rem;
    }

    #resource_hub .headline p {
        font-size: 1rem;
    }

    #resource_hub .grid .container {
        padding: 1rem 1.25rem;
    }

    #resource_hub .grid .container .heading {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    #resource_hub .grid .container .heading svg {
        font-size: 0.9rem;
        padding-right: 0.5rem;
    }

    #resource_hub .grid .container .text {
        font-size: 0.9rem;
    }

    footer {
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }

    footer .container {
        row-gap: 3rem;
    }

    footer .container .wrapper-l h4 {
        font-weight: 400;
        padding-bottom: 1.25rem;
    }

    footer .container .wrapper-r {
        column-gap: 1.5rem;
    }

    footer .container .wrapper-r h5 {
        font-size: 1rem;
        padding-bottom: 0.75rem;
    }
}

@media only screen and (max-width: 33.75em) {
    #portfolio .table .table-l .nav-button-container {
        column-gap: 2.5rem;
        margin-bottom: 1.5rem;
    }

    #portfolio .table .table-l .nav-button-container .nav-button {
        padding: 0.25rem 0;
        border-bottom: 1.2px solid transparent;
    }

    #portfolio .table .table-l .nav-button-container .nav-button-focus {
        border-bottom: 1.2px solid var(--accent-gold);
    }

    #portfolio .table .table-l .scroll-container .card-container {
        gap: 2rem;
        line-height: 1.55;
    }

    #portfolio .table .table-l .scroll-container .card-container .card {
        width: 19rem;
        height: 30rem;
        padding-left: 1.5rem;
    }

    #portfolio .table .table-l .scroll-container .card-container .card.a {
        margin-left: 24vw;
    }

    #portfolio .table .table-l .scroll-container .card-container .card.c {
        margin-right: 24vw;
    }

    #portfolio .table .table-l .scroll-container .card-container .card .content .heading {
        font-size: 1rem;
        margin-top: 1.75rem;
        margin-bottom: 0.25rem;
    }

    #portfolio .table .table-l .scroll-container .card-container .card .content .sub-heading {
        font-size: 0.9rem;
        margin-bottom: 0.35rem;
        margin-left: 1.5rem;
    }

    #portfolio .table .table-l .scroll-container .card-container .card .content .sub-heading svg {
        font-size: 0.8rem;
    }

    #portfolio .table .table-l .scroll-container .card-container .card .content .text {
        font-size: 0.8rem;
        margin-top: 0.25rem;
        margin-left: 2.75rem;
    }

    #portfolio .table .table-r br {
        display: inline;
    }

    #contact .table .table-l br {
        display: inline;
    }

    #contact .table .table-r .container .card {
        width: 19rem;
        height: 30rem;
    }

    #contact .table .table-r .container .card .swap-button {
        bottom: 1.2rem;
        right: 1rem;
        font-size: 1rem;
        padding: 0.5rem 0.6rem;
    }

    #contact .table .table-r .container .card.one .content .block-top {
        flex-direction: column;
        justify-content: center;
        padding: 1.8rem;
        gap: 1.5rem;
    }

    #contact .table .table-r .container .card.one .content .block-top img {
        width: 5.625rem;
    }

    #contact .table .table-r .container .card.one .content .block-top .text {
        text-align: center;
    }

    #contact .table .table-r .container .card.one .content .block-top .text h5 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #contact .table .table-r .container .card.one .content .block-top .text p {
        font-size: 0.9rem;
        font-weight: 300;
    }

    #contact .table .table-r .container .card.one .content .block-top .text a {
        font-size: 0.9rem;
        font-weight: 300;
    }

    #contact .table .table-r .container .card.one .content .block-bottom a {
        font-size: 0.8rem;
    }

    #contact .table .table-r .container .card.one .content .block-bottom .key {
        margin-left: 0.3rem;
    }

    #contact .table .table-r .container .card.one .content .block-bottom p {
        font-size: 0.8rem;
        padding-top: 1.5rem;
    }

    #contact .table .table-r .container .card.one .content .block-bottom .social-block {
        padding-top: 1.75rem;
        grid-row-gap: 1.4rem;
    }

    #contact .table .table-r .container .card.one .content .block-bottom .social-block a {
        font-size: 1.1rem;
        padding: 0.5rem;
    }

    #contact .table .table-r .container .card.two .content h2 {
        font-size: 3rem;
    }

    #contact .table .table-r .container .card:not(.front) {
        transform: rotate(-3deg) translateX(-3px) translateY(-6px);
    }

    #gallery .title h1 {
        font-size: 3.2rem;
    }

    #gallery .grid .container {
        width: calc(100% - 2rem);
        margin-bottom: 1.4rem;
    }

    #resource_hub .title h1 {
        font-size: 3.2rem;
    }

    #resource_hub .grid .container {
        width: calc(100% - 2rem);
        margin-bottom: 1.4rem;
    }

    footer .container {
        width: 88%;
    }

    footer .container .wrapper-r {
        flex-direction: column;
        row-gap: 1.5rem;
    }
}

@media only screen and (min-width: 50em) {
    #home {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 130% 110%;
    }

    .gradient-effect {
        animation: back-gradient 1.2s 0.2s forwards;
    }

    @keyframes back-gradient {
        100% {
            background-size: 100% 100%;
        }
    }
}

@media only screen and (min-width: 68.75em) {
    .button:hover {
        scale: 1.06;
    }

    nav .nav-l ul .nav-link a:hover {
        color: var(--accent-gold);
    }

    #home .contact-box .contact-bar .text-field:hover {
        border-color: var(--border-primary);
    }

    #portfolio .table .table-l .scroll-container .card-container .card .content a:hover {
        color: var(--text-primary);
    }

    #contact .table .table-r .container .card a:hover {
        color: var(--text-primary);
    }

    #resource_hub .grid .container .text a:hover {
        color: var(--text-primary);
    }

    footer .container .wrapper-r a:hover {
        color: var(--text-primary);
    }
}

@media only screen and (min-width: 87.5em) {
    #home {
        background-size: 120% 110%;
    }

    .gradient-effect {
        animation: back-gradient 2.2s 0.2s forwards;
    }

    @keyframes back-gradient {
        30% {
            background-size: 96% 100%;
        }
        100% {
            background-size: 100% 102%;
        }
    }
}
