/*
    Author: Nitin Soni
    Website: nitinsooni.github.io
    © Nitin Soni. All rights reserved.
    This code is proprietary and confidential. Any unauthorized use or distribution is strictly prohibited.
*/
#gallery {
    width: 100%;
}

#gallery .title {
    text-align: center;
    padding-top: 11rem;
    padding-bottom: 9rem;
    background-image: linear-gradient(transparent 74%, var(--background-primary)),
        radial-gradient(circle, #282828, var(--background-primary));
}

#gallery .title h1 {
    font-size: 5.5rem;
    font-weight: 500;
    letter-spacing: 0.025rem;
    line-height: 1.2;
}

#gallery .headline {
    width: min(100%, 80rem);
    margin: 0 auto;
    padding: 0 1rem 3rem;
}

#gallery .headline p {
    font-size: 1.25rem;
    font-weight: 300;
}

#gallery .grid {
    width: min(100%, 80rem);
    margin: 0 auto;
    padding: 0 1rem 4rem;
}

#gallery .grid .container {
    width: calc(33.33% - 2rem);
    padding: 0.75rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

#gallery .grid .container .media-container {
    width: 100%;
    background: transparent;
    border: 1px solid var(--border-primary);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 12px 2px;
    position: relative;
}

#gallery .grid .container .media-container img,
#gallery .grid .container .media-container video {
    width: 100%;
    border-radius: 0.68rem;
    position: absolute;
    inset: 0;
}

#gallery .grid .container .media-container .blur-up {
    filter: blur(5px);
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.8) 30%, #000 50%, rgba(0, 0, 0, 0.8) 70%);
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.8) 30%, #000 50%, rgba(0, 0, 0, 0.8) 70%);
    mask-size: 200%;
    -webkit-mask-size: 200%;
    transition: filter 0.4s;
    animation: shine 1.6s infinite;
}

@keyframes shine {
    from {
        mask-position: 150%;
        -webkit-mask-position: 150%;
    }
    to {
        mask-position: -50%;
        -webkit-mask-position: -50%;
    }
}

#gallery .grid .container .media-container .blur-up.lazyloaded {
    filter: blur(0);
    mask-image: none;
    -webkit-mask-image: none;
}

#gallery .grid .container .info-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.75rem;
}

#gallery .grid .container .info-panel .date {
    color: rgba(231, 237, 239, 0.6);
    font-size: 0.875rem;
}

#gallery .grid .container .info-panel .category {
    color: var(--accent-gold);
    background-color: rgba(250, 229, 117, 0.24);
    font-size: 0.875rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

#gallery .grid .container .media-title {
    font-size: 1.25rem;
    font-weight: 300;
    padding-top: 0.6rem;
}

#gallery .grid .container .media-title a {
    color: var(--accent-gold);
    text-decoration: none;
}

#resource_hub {
    width: 100%;
}

#resource_hub .title {
    text-align: center;
    padding-top: 11rem;
    padding-bottom: 9rem;
    background-image: linear-gradient(transparent 74%, var(--background-primary)),
        radial-gradient(circle, #282828, var(--background-primary));
}

#resource_hub .title h1 {
    font-size: 5.5rem;
    font-weight: 500;
    letter-spacing: 0.025rem;
    line-height: 1.2;
}

#resource_hub .headline {
    width: min(100%, 80rem);
    margin: 0 auto;
    padding: 0 1rem 3rem;
}

#resource_hub .headline p {
    font-size: 1.25rem;
    font-weight: 300;
}

#resource_hub .grid {
    width: min(100%, 80rem);
    margin: 0 auto;
    padding: 0 1rem 4rem;
}

#resource_hub .grid .container {
    width: calc(33.33% - 2rem);
    padding: 1.25rem 1.5rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

#resource_hub .grid .container .heading {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
}

#resource_hub .grid .container .heading i {
    font-size: 1.1rem;
    padding-right: 0.75rem;
}

#resource_hub .grid .container .text {
    color: var(--text-muted);
    font-size: 1rem;
    padding-left: 0.5rem;
}

#resource_hub .grid .container .text:not(:last-child) {
    padding-bottom: 0.25rem;
}

#resource_hub .grid .container .text a {
    color: var(--text-muted);
    transition: color 0.3s;
    text-decoration: none;
}
