* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background: black;
    color: white;
    cursor: url('/assets/images/pointer.png'), auto;
}

a:hover,
a:active {
    cursor: url('/assets/images/link.png'), pointer;
}

input, textarea {
    cursor: url('/assets/images/text.png'), text;
}

::selection {
    color: black;
    background-color: #fae575;
}

/*----------------------------------------------------*/

nav {
    z-index: 999;
    width: 100%;
    height: 4.5rem;
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    backdrop-filter: blur(24px);
}

nav .nav-l ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav .nav-l ul li {
    list-style: none;
}

nav .nav-l ul .logo a {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 2rem;
    text-decoration: none;
}

nav .nav-l ul .nav-links a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition: color .3s;
}

nav .nav-r {
    display: flex;
    justify-content: center;
    width: 9rem;
}

nav .nav-r a {
    font-size: 1rem;
    font-weight: 500;
    color: #fae575;
    background: rgba(0, 0, 0, 0);
    padding: .75rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, .24);
    border-radius: 12px;
    text-decoration: none;
    transition: all .4s ease;
}

/*----------------------------------------------------*/

#home {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 74%, #000), radial-gradient(circle, #282828, #000);
}

#home .light-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
}

#home .light-wrapper .lights-holder {
    width: 100%;
    height: 100%;
    opacity: .4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-column-gap: 70px;
    position: relative;
    top: -222px;
    transform: rotate(-30deg);
}

#home .light-wrapper .lights-holder .light {
    width: 180px;
    height: 1000px;
    background-image: linear-gradient(to bottom, #fae575 5%, rgba(255, 255, 255, 0) 68%);
    opacity: .4;
    filter: blur(18px);
}

#home .light-wrapper .lights-holder .light.left {
    width: 110px;
    opacity: .1;
    filter: blur(9px);
}

#home .light-wrapper .lights-holder .light.middle {
    opacity: .56;
}

#home .light-wrapper .lights-holder .light.right {
    width: 110px;
    opacity: .3;
    filter: blur(16px);
}

#home .title {
    padding-top: 10rem;
}

#home .title img, #home .title svg {
    width: 530px;
}
#home .title svg {
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    margin: auto;
}

#home .title svg path {
    stroke: #fae575;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 632;
    stroke-dashoffset: 632;
    animation: 1.5s ease .2s forwards draw;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}

#home .title h1 {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.15;
    word-spacing: -4px;
}

#home .title p {
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.375;
    margin-top: 32px;
}

#home .contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding-top: 6rem;
    padding-bottom: 9rem;
}

#home .contact-box .contact-bar form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 30rem;
}

#home .contact-box .contact-bar form .text-field {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    width: 100%;
    background-color: rgba(255, 255, 255, .12);
    border: 1px solid rgba(255, 255, 255, .16);
    border-radius: 12px;
    padding: .9rem;
    padding-right: 8rem;
    margin-right: 3px;
    transition: border-color .2s;
}

#home .contact-box .contact-bar form .text-field:focus {
    outline: none;
    border-color: #fae575 !important;
}

#home .contact-box .contact-bar form .submit {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    background-color: #fae575;
    padding: .9rem 1.5rem;
    margin-right: 3px;
    border-radius: 12px;
    border: none;
    position: absolute;
    transition: all .4s ease;
    cursor: url('/assets/images/link.png'), pointer;
}

#home #scroll-to-top {
    z-index: 999;
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2.5rem;
    font-size: 1.25rem;
    color: #fae575;
    background: rgba(0, 0, 0, 0);
    padding: .7rem .85rem;
    border: 1px solid rgba(255, 255, 255, .24);
    border-radius: 12px;
    cursor: pointer;
    backdrop-filter: blur(24px);
}

/*----------------------------------------------------*/

#portfolio {
    width: 100%;
    text-align: center;
    position: relative;
}

#portfolio .blur-circle {
    width: 240px;
    height: 240px;
    filter: blur(160px);
    background-image: linear-gradient(111deg, #b18a52, #f1e8a4);
    border-radius: 1000px;
    position: absolute;
    top: 30%;
    left: auto;
    right: 0%;
    z-index: -1;
}

#portfolio .title {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#portfolio .title h2 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .025rem;
}

#portfolio .t-container {
    display: flex;
    justify-content: center;
}

#portfolio .table {
    width: 90%;
    display: flex;
    column-gap: 6rem;
}

#portfolio .table .table-l {
    width: 55%;
}

#portfolio .table .table-l .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    margin-bottom: 2rem;
}

#portfolio .table .table-l .nav-buttons .button {
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid black;
    padding: .25rem;
    letter-spacing: .025rem;
    cursor: url('/assets/images/link.png'), pointer;
}

#portfolio .table .table-l .nav-buttons .button-focus {
    border-bottom: 1.5px solid #fae575;
    transition: border .2s ease;
}

#portfolio .table .table-l .scroll-container {
    position: relative;
}

#portfolio .table .table-l .scroll-container .fade-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
}

#portfolio .table .table-l .scroll-container .left-fade {
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#portfolio .table .table-l .scroll-container .right-fade {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#portfolio .table .table-l .scroll-container .card-container {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 2.5rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

#portfolio .table .table-l .scroll-container .card-container::-webkit-scrollbar {
    display: none;
}

#portfolio .table .table-l .scroll-container .card-container .card {
    width: 26rem;
    height: 32rem;
    padding-left: 2rem;
    padding-right: 1rem;
    text-align: left;
    position: relative;
    background: #1f1f1f;
    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 25px;
    box-shadow: rgb(24, 26, 27) 3px -3px 10px 0px inset;
    z-index: -1;
    scroll-snap-align: center;
}

#portfolio .table .table-l .scroll-container .card-container .card.a {
    margin-left: 15vw;
}

#portfolio .table .table-l .scroll-container .card-container .card.c {
    margin-right: 15vw;
}

#portfolio .table .table-l .scroll-container .card-container .card > img {
    position: absolute;
    top: -1.5px;
    right: 0;
    left: 128px;
    bottom: 0;
    pointer-events: none;
}

#portfolio .table .table-l .scroll-container .card-container .card .content .heading{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .025rem;
    margin-top: 2rem;
    color: rgba(255, 255, 255, .9);
}

#portfolio .table .table-l .scroll-container .card-container .card .content .sub-heading{
    font-size: 1.1rem;
    margin-top: .9rem;
    margin-bottom: .5rem;
    margin-left: 2rem;
    color: rgba(255, 255, 255, .8);
}

#portfolio .table .table-l .scroll-container .card-container .card .content .text{
    font-size: .9rem;
    font-weight: 300;
    margin-top: .35rem;
    margin-left: 3.5rem;
    color: rgba(255, 255, 255, .8);
}

#portfolio .table .table-r {
    width: 45%;
    text-align: left;
    padding-top: 1.5rem;
}

#portfolio .table .table-r i {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    background: -webkit-linear-gradient(0deg, #b18a52, #f1e8a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#portfolio .table .table-r h3 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: .025rem;
}

#portfolio .table .table-r h3 .gradient-text {
    background: -webkit-linear-gradient(0deg, #b18a52, #f1e8a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#portfolio .table .table-r p {
    color: rgba(255, 255, 255, .8);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.375;
    margin: 1.2rem 0;
}

#portfolio .table .table-r .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 4rem;
}

#portfolio .table .table-r .button-container a {
    font-size: 1rem;
    font-weight: 500;
    color: #fae575;
    background: rgba(0, 0, 0, 0);
    padding: .75rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, .24);
    border-radius: 12px;
    text-decoration: none;
    transition: all .4s ease;
}

/*----------------------------------------------------*/

#contact {
    width: 100%;
    text-align: center;
    position: relative;
}

#contact .blur-circle {
    width: 240px;
    height: 240px;
    filter: blur(160px);
    background-image: linear-gradient(111deg, #b18a52, #f1e8a4);
    border-radius: 1000px;
    position: absolute;
    top: 45%;
    left: -5%;
    z-index: -1;
}

#contact .title {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#contact .title h2 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .025rem;
}

#contact .scroll-container {
    position: relative;
}

#contact .scroll-container .fade-overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5%;
}

#contact .scroll-container .left-fade {
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#contact .scroll-container .right-fade {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#contact .scroll-container .pill-container {
    display: grid;
    padding: 0 1rem;
    grid-auto-flow: column;
    justify-content: center;
    grid-auto-columns: max-content;
    scroll-behavior: auto;
    gap: 1rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    justify-content: 5px;
}

#contact .scroll-container .pill-container::-webkit-scrollbar {
    display: none;
}

#contact .scroll-container .pill-container .pill {
    background-color: black;
    border: 1px solid rgba(255, 255, 255, .24);
    border-radius: 12px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-20px);
    }
    60% {
        transform: translateX(-10px);
    }
}

#contact .scroll-container .pill-container .pill a {
    font-size: 1.25rem;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .75rem;
}

#contact .scroll-container .pill-container .pill a img {
    width: 28px;
    height: 28px;
}

#contact .scroll-container .pill-container .pill.email {
    background-image: linear-gradient(to right, rgba(241, 232, 164, .24), rgba(177, 138, 82, .24));
}

#contact .scroll-container .pill-container .pill.email a {
    color: #fae575;
}

#contact .scroll-container .pill-container .pill.linkedin {
    background-image: linear-gradient(to right, rgba(52, 98, 158, .24), rgba(134, 169, 214, .24));
}

#contact .scroll-container .pill-container .pill.linkedin a {
    color: #3fcbf8;
}

#contact .scroll-container .pill-container .pill.whatsapp {
    background-image: linear-gradient(to right, rgba(164, 241, 199, .24), rgba(84, 177, 82, .24));
}

#contact .scroll-container .pill-container .pill.whatsapp a {
    color: #87fa75;
}

#contact .scroll-container .pill-container .pill.instagram {
    background-image: linear-gradient(to right, rgba(177, 82, 150, .24), rgba(207, 164, 241, .24));
}

#contact .scroll-container .pill-container .pill.instagram a {
    color: #e775fa;
}

#contact .scroll-container .pill-container .pill.github {
    background-image: linear-gradient(to right, rgba(128, 235, 235, .24), rgba(82, 131, 177, .24));
}

#contact .scroll-container .pill-container .pill.github a {
    color: #75dafa;
}

#contact .scroll-container .pill-container .pill.spotify {
    background-image: linear-gradient(to right, rgba(78, 169, 76, .24), rgba(146, 238, 188, .24));
}

#contact .scroll-container .pill-container .pill.spotify a {
    color: #7eee6d;
}

#contact .scroll-container .pill-container .pill.anilist {
    background-image: linear-gradient(to right, rgba(130, 168, 217, .24), rgba(0, 120, 203, .24));
}

#contact .scroll-container .pill-container .pill.anilist a {
    color: #6fc4ff;
}

#contact .t-container {
    display: flex;
    justify-content: center;
}

#contact .table {
    width: 90%;
    display: flex;
    column-gap: 6rem;
}

#contact .table .table-l {
    width: 45%;
    text-align: left;
    padding-top: 1.5rem;
}

#contact .table .table-l i {
    font-size: 2.7rem;
    padding-bottom: 1.5rem;
    background: -webkit-linear-gradient(0deg, #b18a52, #f1e8a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact .table .table-l h3 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: .025rem;
}

#contact .table .table-l h3 .gradient-text {
    background: -webkit-linear-gradient(0deg, #b18a52, #f1e8a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact .table .table-l p {
    color: rgba(255, 255, 255, .8);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.375;
    margin: 1.2rem 0;
}

#contact .table .table-l .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 4rem;
}

#contact .table .table-l .button-container a {
    font-size: 1rem;
    font-weight: 500;
    color: #fae575;
    background: rgba(0, 0, 0, 0);
    padding: .75rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, .24);
    border-radius: 12px;
    text-decoration: none;
    transition: all .4s ease;
}

#contact .table .table-r {
    width: 55%;
}

#contact .table .table-r .container {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

#contact .table .table-r .container .card {
    width: 28rem;
    height: 30rem;
    background: #1f1f1f;
    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 25px;
    box-shadow: rgb(24, 26, 27) 3px -3px 10px 0px inset;
    position: relative;
}

#contact .table .table-r .container .card > img {
    position: absolute;
    top: -1.5px;
    right: 0;
    left: 160px;
    bottom: 0;
    pointer-events: none;
}

#contact .table .table-r .container .card .content i {
    padding-right: .5rem;
}

#contact .table .table-r .container .card .content .block-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
}

#contact .table .table-r .container .card .content .block-top img {
    border: 2px solid #b18a52;
    border-radius: 100%;
}

#contact .table .table-r .container .card .content .block-top .text {
    text-align: right;
}

#contact .table .table-r .container .card .content .block-top .text h3 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

#contact .table .table-r .container .card .content .block-top .text p {
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

#contact .table .table-r .container .card .content .block-bottom {
    text-align: left;
    padding: 0 2rem;
}

#contact .table .table-r .container .card .content .block-bottom p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2.2;
    color: rgba(255, 255, 255, .8);
}
