/*
    Author: Nitin Soni
    Website: nitinsooni.github.io
    © Nitin Soni. All rights reserved.
    This code is proprietary and confidential. Any unauthorized use or distribution is strictly prohibited.
*/
:root {
    color-scheme: dark;

    --text-primary: rgb(255, 255, 255);
    --text-secondary: rgba(255, 255, 255, 0.9);
    --text-tertiary: rgba(255, 255, 255, 0.8);
    --text-muted: rgba(255, 255, 255, 0.7);
    --accent-gold: #fae575;
    --background-primary: rgb(0, 0, 0);
    --background-secondary: #1f1f1f;
    --border-primary: rgba(255, 255, 255, 0.24);
    --border-secondary: rgba(255, 255, 255, 0.18);
    --border-tertiary: rgba(255, 255, 255, 0.12);
}

@font-face {
    font-family: 'Arizonia';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/Arizonia/Arizonia-Regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'InterVariable', 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: 'cv11';
    font-optical-sizing: none;
    background: var(--background-primary);
    color: var(--text-primary);
    cursor: url('/assets/media/pointer.png'), auto;
    line-height: 1.375;
    accent-color: var(--accent-gold);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-scroll-touch {
    pointer-events: none;
    overflow: hidden;
}

h1,
h2,
h3 {
    font-family: 'InterVariable', 'InterDisplay', sans-serif;
    font-optical-sizing: auto;
}

a:hover,
a:active {
    cursor: url('/assets/media/link.png'), pointer;
}

button {
    cursor: url('/assets/media/link.png'), pointer;
}

::selection {
    color: var(--background-primary);
    background-color: var(--accent-gold);
}

.gold-text {
    color: var(--accent-gold) !important;
}

.gold-gradient-text {
    background: linear-gradient(0deg, #b18a52, #f1e8a4) !important;
    background-clip: text !important;
    color: transparent !important;
}

.button {
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent-gold);
    background: transparent;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--border-primary);
    border-radius: 0.75rem;
    text-decoration: none;
    transition: font-size 0.4s, padding 0.4s, margin 0.4s;
    backdrop-filter: blur(24px);
}

.paragraph i,
.paragraph h3,
.paragraph p,
.paragraph a {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-1rem);
    transition: all 0.7s, font-size 0.4s, padding 0.4s;
}

.paragraph.active i,
.paragraph.active h3,
.paragraph.active p,
.paragraph.active a {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.paragraph.active p {
    transition-delay: 0.2s;
}

.paragraph.active a {
    transition: all 0.7s 0.4s, font-size 0.4s 0s, padding 0.4s 0s;
}

.gradient-ruler {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        270deg,
        #ffffff12,
        #ffffff42 31%,
        #fae57566 68%,
        #ffffff12
    );
    background-size: 0%;
    background-repeat: no-repeat;
}

.gradient-ruler.active {
    animation: slide 1.3s forwards ease-in-out;
}

@keyframes slide {
    to {
        background-size: 100%;
    }
}

/*----------------------------------------------------*/

.preloader {
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.25s;
    backdrop-filter: blur(48px);
}

.preloader .dot {
    background-color: var(--accent-gold);
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    box-shadow: rgb(6, 6, 6) 1px 1px 5px -1px;
    animation: jump 0.8s infinite ease-in-out;
}

.preloader .dot.a {
    animation-delay: -0.6s;
}

.preloader .dot.b {
    animation-delay: -0.5s;
}

.preloader .dot.c {
    animation-delay: -0.4s;
}

.preloader .dot.d {
    animation-delay: -0.3s;
}

@keyframes jump {
    0%,
    40%,
    100% {
        transform: translateY(-0.75rem);
    }
    20% {
        transform: translateY(-1.5rem);
    }
}

.preloader-hide {
    opacity: 0;
}

nav {
    z-index: 99;
    width: 100%;
    height: 4.5rem;
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    backdrop-filter: blur(24px);
}

nav .nav-l .logo {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 2rem;
}

nav .nav-l .logo a {
    color: var(--text-primary);
    text-decoration: none;
}

nav .nav-l,
nav .nav-l ul {
    display: flex;
    align-items: center;
}

nav .nav-l ul li {
    list-style: none;
}

nav .nav-l ul .nav-link a {
    color: var(--text-primary);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

nav .nav-l .hamburger {
    display: none;
    position: absolute;
    top: 0.875rem;
    right: 5%;
    width: 2.8rem;
    cursor: url('/assets/media/link.png'), pointer;
    transition: transform 0.4s;
    z-index: 999;
    -webkit-tap-highlight-color: transparent;
}

nav .nav-l .hamburger.active {
    transform: rotate(45deg);
    pointer-events: all;
}

nav .nav-l .hamburger .line {
    fill: none;
    transition: stroke-dasharray 0.4s, stroke-dashoffset 0.4s;
    stroke: var(--text-primary);
    stroke-width: 5.5;
    stroke-linecap: round;
}

nav .nav-l .hamburger:nth-child(1) {
    stroke-dasharray: 40 121;
}

nav .nav-l .hamburger:nth-child(3) {
    stroke-dasharray: 40 121;
}

nav .nav-l .hamburger.active:nth-child(1) {
    stroke-dashoffset: -67px;
}

nav .nav-l .hamburger.active:nth-child(3) {
    stroke-dashoffset: -67px;
}

nav .nav-r {
    display: flex;
    justify-content: center;
    width: 9rem;
}

nav .nav-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(48px);
    clip-path: circle(0 at 100% 0);
    transition: clip-path 1s ease-out;
    pointer-events: none;
}

nav .nav-overlay.active {
    clip-path: circle(150% at 80% -10%);
    pointer-events: all;
}

nav .nav-overlay .container .nav-link {
    color: var(--text-primary);
    text-decoration: none;
    display: grid;
    grid-template-columns: 2rem auto;
    gap: 0.9rem;
    margin: 2.5rem 0;
    -webkit-tap-highlight-color: transparent;
}

nav .nav-overlay .container .nav-link i {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

nav .nav-overlay .container .nav-link .text {
    font-size: 1.2rem;
    text-align: left;
}

.scroll-to-top {
    z-index: 99;
    position: fixed;
    bottom: 2rem;
    right: 2.5rem;
    font-size: 1.25rem;
    color: var(--accent-gold);
    background: transparent;
    padding: 0.7rem 0.85rem;
    border: 1px solid var(--border-primary);
    border-radius: 0.75rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    backdrop-filter: blur(24px);
    -webkit-tap-highlight-color: transparent;
}

.scroll-to-top-show {
    opacity: 1;
    visibility: visible;
}

/*----------------------------------------------------*/

#home {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(
            transparent 74%,
            var(--background-primary)
        ),
        radial-gradient(circle, #282828, var(--background-primary));
}

#home .light-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
}

#home .light-wrapper .lights-holder {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 70px;
    position: relative;
    top: -222px;
    transform: rotate(-30deg);
}

#home .light-wrapper .lights-holder .light {
    width: 180px;
    height: 1000px;
    background-image: linear-gradient(
        to bottom,
        var(--accent-gold) 5%,
        transparent 68%
    );
    opacity: 0.4;
    filter: blur(18px);
}

#home .light-wrapper .lights-holder .light.left {
    width: 110px;
    opacity: 0.1;
    filter: blur(9px);
}

#home .light-wrapper .lights-holder .light.middle {
    opacity: 0.56;
}

#home .light-wrapper .lights-holder .light.right {
    width: 110px;
    opacity: 0.3;
    filter: blur(16px);
}

#home .title {
    padding-top: 8rem;
}

#home .title .title-top {
    font-family: 'Arizonia', cursive;
    font-size: 8rem;
    font-weight: 400;
}

#home .title svg {
    width: 33.125rem;
    position: absolute;
    inset: 10.4rem 0 auto;
    margin: 0 auto;
    pointer-events: none;
}

#home .title svg path {
    stroke: var(--accent-gold);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 632;
    stroke-dashoffset: 632;
}

.stroke-draw {
    animation: draw 1.5s 0.2s forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

#home .title .title-bottom {
    font-size: 4.7rem;
    font-weight: 600;
    line-height: 1.2;
    word-spacing: -4px;
}

#home .title p {
    font-size: 1.25rem;
    font-weight: 200;
    margin-top: 2rem;
}

#home .contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 8rem 0;
}

#home .contact-box .contact-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 30rem;
}

#home .contact-box .contact-bar .text-field {
    font-family: 'InterVariable', 'Inter', sans-serif;
    font-size: 0.938rem;
    width: 100%;
    background-color: var(--border-tertiary);
    border: 1px solid var(--border-secondary);
    border-radius: 0.75rem;
    padding: 0.9rem;
    padding-right: 8rem;
    margin-right: 3px;
    transition: border-color 0.2s;
    outline: none;
    cursor: url('/assets/media/text.png'), text;
    caret-color: var(--accent-gold);
}

#home .contact-box .contact-bar .text-field:focus {
    border-color: var(--accent-gold) !important;
}

#home .contact-box .contact-bar .submit {
    color: var(--background-primary);
    background-color: var(--accent-gold);
    padding: 0.9rem 1.5rem;
    margin-right: 3px;
    border: none;
    position: absolute;
    cursor: url('/assets/media/link.png'), pointer;
}

/*----------------------------------------------------*/

#portfolio {
    width: 100%;
    text-align: center;
    position: relative;
}

#portfolio .blur-circle {
    width: 240px;
    height: 240px;
    filter: blur(160px);
    background-image: linear-gradient(111deg, #b18a52, #f1e8a4);
    border-radius: 1000px;
    position: absolute;
    top: 30%;
    right: 0;
    z-index: -1;
    pointer-events: none;
}

#portfolio .title {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#portfolio .title h2 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.025rem;
    padding-top: 2px;
}

#portfolio .t-container {
    display: flex;
    justify-content: center;
}

#portfolio .table {
    width: 90%;
    display: flex;
    column-gap: 6rem;
}

#portfolio .table .table-l {
    width: 55%;
}

#portfolio .table .table-l .nav-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    margin-bottom: 2rem;
}

#portfolio .table .table-l .nav-button-container .nav-button {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-primary);
    background: transparent;
    border: none;
    border-bottom: 1.5px solid transparent;
    padding: 0.25rem;
    letter-spacing: 0.025rem;
    -webkit-tap-highlight-color: transparent;
}

#portfolio .table .table-l .nav-button-container .nav-button-focus {
    border-bottom: 1.5px solid var(--accent-gold);
    transition: border 0.2s;
}

#portfolio .table .table-l .scroll-container {
    position: relative;
}

#portfolio .table .table-l .scroll-container .fade-overlay {
    position: absolute;
    inset: 0 auto;
    width: 10%;
}

#portfolio .table .table-l .scroll-container .left-fade {
    left: 0;
    background: linear-gradient(
        to left,
        transparent,
        var(--background-primary)
    );
}

#portfolio .table .table-l .scroll-container .right-fade {
    right: 0;
    background: linear-gradient(
        to right,
        transparent,
        var(--background-primary)
    );
}

#portfolio .table .table-l .scroll-container .card-container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    line-height: 1.35;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
}

#portfolio
    .table
    .table-l
    .scroll-container
    .card-container::-webkit-scrollbar {
    display: none;
}

#portfolio .table .table-l .scroll-container .card-container .card {
    width: 24rem;
    height: 32rem;
    padding-left: 2rem;
    padding-right: 1rem;
    text-align: left;
    position: relative;
    background: var(--background-secondary);
    border: 1px solid var(--border-tertiary);
    border-radius: 25px;
    box-shadow: rgb(24, 26, 27) 3px -3px 10px 0px inset;
    flex-shrink: 0;
    z-index: -1;
    scroll-snap-align: center;
}

#portfolio .table .table-l .scroll-container .card-container .card.a {
    margin-left: 15vw;
}

#portfolio .table .table-l .scroll-container .card-container .card.c {
    margin-right: 15vw;
}

#portfolio .table .table-l .scroll-container .card-container .card > img {
    position: absolute;
    top: -1px;
    right: -1px;
    pointer-events: none;
    z-index: 1;
}

#portfolio
    .table
    .table-l
    .scroll-container
    .card-container
    .card
    .content
    .heading {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.025rem;
    margin-top: 2rem;
    color: var(--text-secondary);
}

#portfolio
    .table
    .table-l
    .scroll-container
    .card-container
    .card
    .content
    .sub-heading {
    font-size: 1.1rem;
    margin-top: 0.9rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    color: var(--text-tertiary);
}

#portfolio
    .table
    .table-l
    .scroll-container
    .card-container
    .card
    .content
    .text {
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 0.35rem;
    margin-left: 3.5rem;
    color: var(--text-tertiary);
}

#portfolio .table .table-r {
    width: 45%;
    text-align: left;
    padding-top: 1.5rem;
}

#portfolio .table .table-r i {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    background: linear-gradient(0deg, #b18a52, #f1e8a4);
    background-clip: text;
    color: transparent;
}

#portfolio .table .table-r h3 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.025rem;
}

#portfolio .table .table-r p {
    color: var(--text-tertiary);
    font-size: 1.25rem;
    font-weight: 300;
    margin: 1.2rem 0;
}

#portfolio .table .table-r .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 4rem;
}

/*----------------------------------------------------*/

#contact {
    width: 100%;
    text-align: center;
    position: relative;
}

#contact .blur-circle {
    width: 240px;
    height: 240px;
    filter: blur(160px);
    background-image: linear-gradient(111deg, #b18a52, #f1e8a4);
    border-radius: 1000px;
    position: absolute;
    top: 45%;
    left: -5%;
    z-index: -1;
    pointer-events: none;
}

#contact .title {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#contact .title h2 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.025rem;
}

#contact .t-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#contact .table {
    width: 90%;
    display: flex;
    column-gap: 6rem;
}

#contact .table .table-l {
    width: 45%;
    text-align: left;
    padding-top: 1.5rem;
    padding-left: 2rem;
}

#contact .table .table-l i {
    font-size: 2.7rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    background: linear-gradient(0deg, #b18a52, #f1e8a4);
    background-clip: text;
    color: transparent;
}

#contact .table .table-l h3 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.025rem;
}

#contact .table .table-l p {
    color: var(--text-tertiary);
    font-size: 1.25rem;
    font-weight: 300;
    margin: 1.2rem 0;
}

#contact .table .table-l .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 4rem;
}

#contact .table .table-r {
    width: 55%;
}

#contact .table .table-r .container {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

#contact .table .table-r .container .card {
    width: 24rem;
    height: 32rem;
    color: var(--text-tertiary);
    background: var(--background-secondary);
    border: 1px solid var(--border-tertiary);
    border-radius: 25px;
    box-shadow: rgb(24, 26, 27) 3px -3px 10px 0px inset;
    transition: all 0.5s;
}

#contact .table .table-r .container .card a {
    color: var(--text-tertiary);
    transition: color 0.3s;
    text-decoration: none;
}

#contact .table .table-r .container .card > img {
    position: absolute;
    top: -1px;
    right: -1px;
    pointer-events: none;
    z-index: 1;
}

#contact .table .table-r .container .card .swap-button {
    position: absolute;
    bottom: 1.5rem;
    right: 1.25rem;
    font-size: 1.1rem;
    color: var(--accent-gold);
    background: transparent;
    padding: 0.55rem 0.7rem;
    border: 1px solid var(--border-primary);
    border-radius: 0.7rem;
    backdrop-filter: blur(24px);
    -webkit-tap-highlight-color: transparent;
}

#contact .table .table-r .container .card.one .content i {
    padding-right: 0.5rem;
}

#contact .table .table-r .container .card.one .content .block-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.25rem 1.8rem;
}

#contact .table .table-r .container .card.one .content .block-top img {
    width: 6.25rem;
    border: 2px solid #b18a52;
    border-radius: 100%;
    filter: grayscale(10%);
}

#contact .table .table-r .container .card.one .content .block-top .text {
    text-align: right;
}

#contact .table .table-r .container .card.one .content .block-top .text h5 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8;
}

#contact .table .table-r .container .card.one .content .block-top .text p {
    font-size: 1rem;
    line-height: 1.5;
}

#contact .table .table-r .container .card.one .content .block-top .text a {
    font-size: 1rem;
    line-height: 1.5;
}

#contact .table .table-r .container .card.one .content .block-bottom {
    text-align: left;
    padding: 0 2rem;
}

#contact .table .table-r .container .card.one .content .block-bottom a {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
}

#contact .table .table-r .container .card.one .content .block-bottom p {
    font-size: 1rem;
    font-weight: 300;
    padding-top: 2rem;
}

#contact
    .table
    .table-r
    .container
    .card.one
    .content
    .block-bottom
    .social-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 2rem;
    grid-row-gap: 1.5rem;
}

#contact
    .table
    .table-r
    .container
    .card.one
    .content
    .block-bottom
    .social-block
    a {
    font-size: 1.25rem;
    padding: 0.75rem;
    margin: 0 auto;
    line-height: 0;
}

#contact
    .table
    .table-r
    .container
    .card.one
    .content
    .block-bottom
    .social-block
    a
    i {
    padding: 0;
}

#contact .table .table-r .container .card.two .content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
}

#contact .table .table-r .container .card.two .content img {
    position: absolute;
    z-index: -1;
    width: 100%;
    pointer-events: none;
}

#contact .table .table-r .container .card.two .content h2 {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 0.025rem;
    /*color: #a9abb0;*/
    color: transparent;
    background: linear-gradient(#ffffffe0, #fff6);
    background-clip: text;
}

#contact .table .table-r .container .card.front {
    z-index: 2;
    position: relative;
    box-shadow: rgb(12, 12, 12) -6px -6px 20px 0px,
        rgb(24, 26, 27) 3px -3px 10px 0px inset;
}

#contact .table .table-r .container .card:not(.front) {
    transform: rotate(-4deg) translateX(-4px) translateY(-8px);
    transform-origin: bottom left;
    opacity: 0.6;
    z-index: 1;
    position: absolute;
}

/*----------------------------------------------------*/

#gallery {
    width: 100%;
}

#gallery .title {
    text-align: center;
    padding-top: 11rem;
    padding-bottom: 9rem;
    background-image: linear-gradient(
            transparent 74%,
            var(--background-primary)
        ),
        radial-gradient(circle, #282828, var(--background-primary));
}

#gallery .title h1 {
    font-size: 5.5rem;
    font-weight: 500;
    letter-spacing: 0.025rem;
    line-height: 1.2;
}

#gallery .grid {
    width: min(100%, 80rem);
    margin: 0 auto;
    padding: 0 1rem 4rem 1rem;
}

#gallery .grid .container {
    width: calc(33.33% - 2rem);
    padding: 0.75rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

#gallery .grid .container .media-container {
    width: 100%;
    background: transparent;
    border: 1px solid var(--border-primary);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 12px 2px;
    position: relative;
}

#gallery .grid .container .media-container img,
#gallery .grid .container .media-container video {
    width: 100%;
    border-radius: 0.68rem;
    position: absolute;
    inset: 0;
}

#gallery .grid .container .media-container .blur-up {
    filter: blur(5px);
    mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.8) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.8) 70%
    );
    mask-size: 200%;
    transition: filter 0.4s;
    animation: shine 1.6s infinite;
}

@keyframes shine {
    from {
        mask-position: 150%;
    }
    to {
        mask-position: -50%;
    }
}

#gallery .grid .container .media-container .blur-up.lazyloaded {
    filter: blur(0);
    mask-image: none;
}

#gallery .grid .container .info-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.75rem 0 0;
}

#gallery .grid .container .info-panel .date {
    color: rgba(231, 237, 239, 0.6);
    font-size: 0.875rem;
}

#gallery .grid .container .info-panel .category {
    color: var(--accent-gold);
    background-color: rgba(250, 229, 117, 0.24);
    font-size: 0.875rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

#gallery .grid .container .media-title {
    color: var(--text-primary);
    font-size: 1.25rem;
    font-weight: 300;
    padding-top: 0.6rem;
}

#gallery .grid .container .media-title a {
    color: var(--accent-gold);
    text-decoration: none;
}

/*----------------------------------------------------*/

#resource_hub {
    width: 100%;
}

#resource_hub .title {
    text-align: center;
    padding-top: 11rem;
    padding-bottom: 9rem;
    background-image: linear-gradient(
            transparent 74%,
            var(--background-primary)
        ),
        radial-gradient(circle, #282828, var(--background-primary));
}

#resource_hub .title h1 {
    font-size: 5.5rem;
    font-weight: 500;
    letter-spacing: 0.025rem;
    line-height: 1.2;
}

#resource_hub .headline {
    width: min(100%, 80rem);
    margin: 0 auto;
    padding: 0 1rem 3rem 1rem;
}

#resource_hub .headline p {
    color: var(--text-primary);
    font-size: 1.25rem;
    font-weight: 300;
}

#resource_hub .grid {
    width: min(100%, 80rem);
    margin: 0 auto;
    padding: 0 1rem 4rem 1rem;
}

#resource_hub .grid .container {
    width: calc(33.33% - 2rem);
    padding: 1.25rem 1.5rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

#resource_hub .grid .container .heading {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
}

#resource_hub .grid .container .heading i {
    font-size: 1.1rem;
    padding-right: 0.75rem;
}

#resource_hub .grid .container .text {
    color: var(--text-muted);
    font-size: 1rem;
    padding-left: 0.5rem;
}

#resource_hub .grid .container .text:not(:last-child) {
    padding-bottom: 0.25rem;
}

#resource_hub .grid .container .text a {
    color: var(--text-muted);
    transition: color 0.3s;
    text-decoration: none;
}

/*----------------------------------------------------*/

footer {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

footer .container {
    width: min(94%, 80rem);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    column-gap: 8vw;
}

footer .container .wrapper-l {
    width: 40%;
}

footer .container .wrapper-l h4 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 1.5rem;
}

footer .container .wrapper-l p {
    font-size: 0.875rem;
}

footer .container .wrapper-r {
    width: 60%;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

footer .container .wrapper-r h5 {
    font-size: 1.25rem;
    font-weight: 300;
    padding-bottom: 1rem;
}

footer .container .wrapper-r p {
    padding: 0.5rem 0;
}

footer .container .wrapper-r p a {
    color: var(--text-muted);
    font-size: 0.875rem;
    transition: color 0.3s;
    text-decoration: none;
}

footer .container .wrapper-r .column {
    width: 100%;
}
