@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: local('IBM Plex Mono'), local('IBMPlexMono'),
        url('./assets/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 400;
    src: local('IBM Plex Mono Italic'), local('IBMPlexMono-Italic'),
        url('./assets/IBMPlexMono-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    src: local('IBM Plex Mono Bold'), local('IBMPlexMono-Bold'),
        url('./assets/IBMPlexMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 700;
    src: local('IBM Plex Mono Bold Italic'), local('IBMPlexMono-BoldItalic'),
        url('./assets/IBMPlexMono-BoldItalic.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    background-image: url('/archive/web1.0-version/assets/background.png');
    margin: 0 10px;
    cursor: url('/archive/web1.0-version/assets/arrow.cur'), auto;
}

a {
    font-weight: 700;
    color: rgb(165, 22, 113);
    text-decoration: none;
    cursor: url('/archive/web1.0-version/assets/pointer.cur'), pointer;
}

img,
video {
    border: 1px solid rgb(96, 96, 96);
}

nav {
    background-color: rgba(42, 20, 41, 0.5);
    border-bottom: 3px outset rgb(50, 20, 50);
    margin-bottom: 10px;
}

nav a {
    color: rgb(106, 6, 6);
}

nav a:not(:first-child):not(:last-child) {
    margin-right: 5px;
}

nav .logo {
    margin-left: 5px;
    margin-bottom: 5px;
}

nav .logo img {
    width: 120px;
}

section {
    border: 3px solid rgb(201, 66, 63);
    margin-bottom: 10px;
    padding: 8px 20px;
}

section h2 {
    font-size: 21px;
    font-weight: 700;
    color: rgb(87, 20, 60);
}

section .content {
    max-width: 70%;
}

section .content > * {
    margin: 14px 0;
}

#welcome .content ul {
    margin-left: 40px;
}

#donate .content p {
    word-break: break-all;
}

#donate .content p img {
    width: 20px;
}

#gallery .content p:not(:first-child) {
    margin-top: 0;
}

#gallery .content img,
#gallery .content video {
    width: 360px;
    max-width: 100%;
}

footer,
footer > * {
    margin: 14px 0;
}

@media only screen and (max-width: 50em) {
    body {
        font-size: 14px;
        margin: 0 8px;
    }

    nav {
        margin-bottom: 8px;
    }

    nav .logo img {
        width: 110px;
    }

    section {
        border-width: 2.8px;
        margin-bottom: 8px;
        padding: 8px 18px;
    }

    section h2 {
        font-size: 19px;
    }

    section .content {
        max-width: 100%;
    }

    section .content > * {
        margin: 12px 0;
    }

    #donate .content p img {
        width: 18px;
    }

    footer,
    footer > * {
        margin: 12px 0;
    }
}
